#-----------------------------Backend Dependencies-----------------------------#
#These dependencies are required for running the backend server.
fastapi
uvicorn[standard]
pydantic>=2
python-dotenv

neo4j
neo4j-graphrag

sentence-transformers
google-genai
