fastapi
uvicorn[standard]
pydantic>=2
python-dotenv

neo4j
neo4j-graphrag

# open-source embeddings
sentence-transformers

# Gemini Developer API SDK
google-genai

#Neo4j GraphRAG requires Python ≥ 3.10.